@model FrontEnd.Models.RegisterModel

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<!--start content-->
<main class="authentication-content">
    <div class="row justify-content-center">
        <div class="col-sm-8 ">
            <div class="card rounded-0 overflow-hidden shadow-none border mb-5 mb-lg-0">
                <div class="row g-0">
                    
                    <div class="col-12 ">
                        <div class="card-body p-4 p-sm-10">
                            <div class="col-12 col-xl-12 order-xl-2 text-center mb-3">
                                <img src="~/assets/images/logoCosermu_min.jpg" class="img-fluid logo" alt="">
                            </div>
                            <h4 class="card-title text-center">Registro</h4>

                            <form asp-action="Register">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                <div class="row g-3">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label asp-for="UserName" class="form-label"></label>
                                            <div class="ms-auto position-relative">
                                                <div class="position-absolute top-50 translate-middle-y search-icon px-3"><i class="bi bi-person-circle"></i></div>
                                                <input asp-for="UserName" type="text" class="form-control radius-30 ps-5" placeholder="Nombre Usuario" />
                                            </div>
                                            <span asp-validation-for="UserName" class="text-danger"></span>
                                        </div>
                                    </div>


                                <div class="col-12">
                                    <div class="form-group">
                                        <label asp-for="Password" class="form-label"></label>
                                        <div class="ms-auto position-relative">
                                            <div class="position-absolute top-50 translate-middle-y search-icon px-3"><i class="bi bi-lock-fill"></i></div>
                                                <input asp-for="Password" type="password" class="form-control radius-30 ps-5" placeholder="Contraseña" />
                                        </div>
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                </div>

                                    <div class="col-12">
                                        <div class="form-group">
                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                            <label asp-for="Email" class="form-label"></label>
                                            <div class="ms-auto position-relative">
                                                <div class="position-absolute top-50 translate-middle-y search-icon px-3"><i class="bi bi-envelope-fill"></i></div>
                                                <input asp-for="Email" type="email" class="form-control radius-30 ps-5" autocomplete="username" placeholder="Correo electrónico" />
                                            </div>
                                            <span asp-validation-for="Email" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-12 mt-5">
                                        <!-- Agregamos la clase de margen mt-3 -->
                                        <div class="row justify-content-center">
                                            <div class="col-5">
                                                <div class="d-grid">
                                                    <input type="submit" value="Registrar" class="btn btn-primary radius-30" />
                                                </div>
                                            </div>
                                            <div class="col-5">
                                                <div class="d-grid">
                                                    <a href="@Url.Action("Login", "Home")" class="btn btn-primary radius-30">Volver</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                               
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<!--end page main-->
@section Scripts {
    @{
        //<partial name="_ValidationScriptsPartial" />
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
