@model FrontEnd.Models.TbTipoViewModel

@{
    ViewData["Title"] = "Edit";
}
<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
    <div class="breadcrumb-title pe-3">Soporte</div>
    <div class="ps-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item">
                    <a href="javascript:;"><i class="bi bi-wrench"></i></a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Soporte</li>
            </ol>
        </nav>
    </div>
</div>
<!--end breadcrumb-->
<div class="row">
    <div class="col-sm-12">

        <!--Inicio tarjeta-->
        <div class="card">
            <h6 class="card-header mb-0 text-uppercase">Editar Tipo de Soporte</h6>
            <div class="card-body">
                <div class="responsive">
                    <div class="row">
                        <div class="col-md-4">
                            <form asp-action="Edit">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="IdTipo" class="control-label"></label>
                                    <input asp-for="IdTipo" class="form-control" readonly />
                                    <span asp-validation-for="IdTipo" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="NombreSoporte" class="control-label"></label>
                                    <input asp-for="NombreSoporte" class="form-control" />
                                    <span asp-validation-for="NombreSoporte" class="text-danger"></span>
                                </div>
                                <br />
                                <div class="form-group">
                                    <input type="submit" value="Guardar" class="btn btn-info" /> |
                                    @Html.ActionLink("Regresar", "Index","TbTipo", null, new { @class="btn btn-primary"})
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--Fin tarjeta-->

        </div>
    </div>
</div>
<!--end page main-->
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
